<div class="welcome-page">
  <a href=""><img class="logo" src="../assets/img/logo.png" alt=""></a>
   <div class="btn-block">
        <a class="in" routerLink="/sign-in">
            Sign In
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
        <a class="up" routerLink="/sign-up">
            Sign Up
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</div>
