<div class="chat-list">
   <a href=""><img class="logo" src="../assets/img/logo.png" alt=""></a>
    <div class="head">
        <div class="user">
            <img src="img/photo.png" alt="" class="user-photo">
            <div class="user-info">
                <span class="name">Julia</span><span class="mail">alexey6449@gmail.com</span>
                <div class="status">Online</div>
            </div>
        </div>
        <a href=""><img class="logo" src="img/logo.png" alt=""></a>
    </div>
    <h3>Chat list</h3>
    <div class="list">
        <div class="chat">
            <div class="close"></div>
            <div class="chat-photo"></div>
            <div class="chat-body">
                <a class="name" href="">World tour!!</a>
                <div class="aditional">
                    <div class="members">53</div>
                    <span class="admin">Admin:<a href="">Alexandr Black</a></span>
                </div>
            </div>
        </div>
        <div class="chat">
            <div class="close"></div>
            <div class="chat-photo"></div>
            <div class="chat-body">
                <a class="name" href="">Funy group</a>
                <div class="aditional">
                    <div class="members">53</div>
                    <span class="admin">Admin:<a href="">Alexandr Black</a></span>
                </div>
            </div>
        </div>
        <div class="chat">
            <div class="close"></div>
            <div class="chat-photo"></div>
            <div class="chat-body">
                <a class="name" href="">Like it competition</a>
                <div class="aditional">
                    <div class="members">53</div>
                    <span class="admin">Admin:<a href="">Alexandr Black</a></span>
                </div>
            </div>
        </div>
    </div>
</div>