<a href=""><img class="logo" src="../assets/img/logo.png" alt=""></a>   
<div class="chat-page">
    <div class="container">
        <div class="col1">
            <div class="chat">
                <div class="chat-photo"></div>
                <div class="chat-info">
                    <span class="name">Like it competition</span>
                    <div class="members">53</div>
                </div>
            </div>
            <div class="users">
                <h3>Users list</h3>
                <ul>
                    <li>Vasya</li>
                    <li>Kolya</li>
                    <li>Andrew</li>
                    <li>Alex</li>
                    <li>Vova</li>
                    <li>vasya</li>
                    <li>divan111</li>
                    <li>notlike</li>
                    <li>xXxXxX_nagibator_xXxXxX</li>
                    <li>lox</li>
                    <li>Vasya</li>
                    <li>Kolya</li>
                    <li>Andrew</li>
                    <li>Alex</li>
                    <li>Vova</li>
                    <li>vasya</li>
                    <li>divan111</li>
                    <li>notlike</li>
                    <li>xXxXxX_nagibator_xXxXxX</li>
                    <li>lox</li>
                </ul>
            </div>
        </div>
        <div class="col2">
            <div class="text-area">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <form action="">
                <input type="text">
                <div class="send">Send</div>
            </form>
        </div>
    </div>
</div>